# TItanic Kaggle Compitation

In [9]:
import numpy as np #linear Algebra
import pandas as pd # data processing, CSV file I/O(eg. )
from subprocess import check_output

print(check_output(['ls', "input"]).decode("utf8"))

Titanic.csv
gender_submission.csv
pitanic.csv
test.csv
train.csv

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#machine Learning
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import GridSearchCV,StratifiedKFold
from sklearn.metrics import mean_squared_error, precision_score,precision_recall_curve,recall_score,f1_score, roc_auc_score
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OneHotEncoder, LabelBinarizer
from sklearn.impute import SimpleImputer
from sklearn.kernel_ridge import KernelRidge

In [10]:
train = pd.read_csv("input/train.csv")
test = pd.read_csv("input/test.csv")

In [11]:
train.head().set_index("PassengerId")

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [14]:
train.shape

(891, 12)

In [15]:
def ticket2(value):
    split = value.split(" ")
    if(len(split)>1):
        return int(split[-1].strip())
    else:
        return 0

In [16]:
dftotal=pd.concat([train,test],axis=0,ignore_index=True)
dftotal["Ticket1"]=dftotal.Ticket.map(lambda x: x.split(" ")[0])
dftotal["Ticket2"]=dftotal.Ticket.map(ticket2)
#dftotal["Ticket2"]=dftotal["Ticket2"].astype(int)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [17]:
dftotal.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Ticket1,Ticket2
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,A/5,21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,PC,17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,STON/O2.,3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,113803,0
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,373450,0

In [18]:
dftotal["KNNs"]=""
dftotal["KNNsNbr"]=0
dftotal["KSurvivalRate"]=0

In [19]:
k=10
for index in dftotal.index:
    ticket1=dftotal.loc[index,"Ticket1"]
    ticket2=dftotal.loc[index,"Ticket2"]
    embarked = dftotal.loc[index,"Embarked"]
    if(ticket1=="LINE"):
        nbours_index=dftotal[dftotal.Ticket=="LINE"].index
        dftotal.at[index,"KNNs"]=nbours_index.values
        dftotal.loc[index,"KNNsNbr"]=len(nbours_index)
        dftotal.loc[index,"KSurvivalRate"]=dftotal.loc[nbours_index,"Survived"].mean()
    elif((ticket1!="LINE")&(ticket2==0)):
        dftotalindex=dftotal[(dftotal.Embarked==embarked)&(dftotal.Ticket2==0)&(dftotal.Ticket!="LINE")].copy()
        nbours_index=dftotalindex[np.abs(dftotalindex["Ticket1"].astype(int)-int(ticket1))<k].index
        dftotal.at[index,"KNNs"]=nbours_index.values
        dftotal.loc[index,"KNNsNbr"]=len(nbours_index)
        dftotal.loc[index,"KSurvivalRate"]=dftotalindex.loc[nbours_index,"Survived"].mean()
    else:
        dftotalindex=dftotal[(dftotal.Embarked==embarked)&(dftotal.Ticket1==ticket1)].copy()
        nbours_index=dftotalindex[np.abs(dftotalindex["Ticket2"].astype(int)-int(ticket2))<k].index
        dftotal.at[index,"KNNs"]=nbours_index.values
        dftotal.loc[index,"KNNsNbr"]=len(nbours_index)
        dftotal.loc[index,"KSurvivalRate"]=dftotalindex.loc[nbours_index,"Survived"].mean()

In [20]:
dftotal.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Ticket1,Ticket2,KNNs,KNNsNbr,KSurvivalRate
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,A/5,21171,"[0, 212, 227, 320, 1176]",5,0.000000
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,PC,17599,"[1, 30, 34, 64, 139, 155, 177, 273, 311, 375, ...",25,0.357143
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,STON/O2.,3101282,"[2, 142, 216, 403, 816]",5,0.600000
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,113803,0,"[3, 137, 270, 447, 555, 602, 607, 694, 724, 80...",13,0.500000
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,373450,0,[4],1,0.000000

In [80]:
(dftotal[(dftotal.KNNsNbr>5)&(dftotal.KSurvivalRate==0.0)
        &(dftotal.PassengerId>891)&(dftotal.Sex=="female")&(dftotal.Pclass==3)])

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Ticket1,Ticket2,KNNs,KNNsNbr,KSurvivalRate
924,NaN,NaN,S,23.4500,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",2,925,3,female,1,NaN,W./C. 6607,W./C.,6607,"[86, 147, 235, 436, 736, 783, 888, 924, 1058, ...",10,0.0
928,21.0,NaN,S,8.6625,"Cacic, Miss. Manda",0,929,3,female,0,NaN,315087,315087,0,"[163, 349, 404, 422, 471, 500, 534, 725, 844, ...",15,0.0
979,NaN,NaN,Q,7.7500,"O'Donoghue, Ms. Bridget",0,980,3,female,0,NaN,364856,364856,0,"[188, 428, 593, 657, 767, 979, 1173, 1279]",8,0.0
1031,10.0,NaN,S,46.9000,"Goodwin, Miss. Jessie Allis",2,1032,3,female,5,NaN,CA 2144,CA,2144,"[59, 71, 386, 480, 678, 683, 1030, 1031]",8,0.0
1044,36.0,NaN,S,12.1833,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",2,1045,3,female,0,NaN,350405,350405,0,"[14, 175, 396, 1026, 1044, 1152, 1154, 1209, 1...",9,0.0
1050,26.0,NaN,S,13.7750,"Peacock, Mrs. Benjamin (Edith Nile)",2,1051,3,female,0,NaN,SOTON/O.Q. 3101315,SOTON/O.Q.,3101315,"[131, 210, 363, 465, 784, 1050, 1102, 1172, 11...",11,0.0
1060,22.0,NaN,S,8.9625,"Hellstrom, Miss. Hilda Maria",0,1061,3,female,0,NaN,7548,7548,0,"[40, 103, 474, 713, 882, 1060]",6,0.0
1079,NaN,NaN,S,69.5500,"Sage, Miss. Ada",2,1080,3,female,8,NaN,CA. 2343,CA.,2343,"[159, 180, 201, 324, 792, 846, 863, 1079, 1233...",11,0.0
1088,18.0,NaN,S,7.7750,"Nilsson, Miss. Berta Olivia",0,1089,3,female,0,NaN,347066,347066,0,"[129, 162, 231, 246, 276, 379, 406, 719, 764, ...",17,0.0
1154,1.0,NaN,S,12.1833,"Klasen, Miss. Gertrud Emilia",1,1155,3,female,1,NaN,350405,350405,0,"[14, 175, 396, 1026, 1044, 1152, 1154, 1209, 1...",9,0.0
1171,23.0,NaN,S,8.6625,"Oreskovic, Miss. Jelka",0,1172,3,female,0,NaN,315085,315085,0,"[163, 349, 422, 471, 500, 534, 725, 844, 928, ...",13,0.0
1250,30.0,NaN,S,15.5500,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",0,1251,3,female,1,NaN,349910,349910,0,"[7, 24, 374, 567, 605, 675, 1250, 1277, 1280]",9,0.0
1256,NaN,NaN,S,69.5500,"Sage, Mrs. John (Annie Bullen)",9,1257,3,female,1,NaN,CA. 2343,CA.,2343,"[159, 180, 201, 324, 792, 846, 863, 1079, 1233...",11,0.0
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,SOTON/O.Q.,3101315,"[131, 210, 363, 465, 784, 1050, 1102, 1172, 11...",11,0.0

In [81]:
(dftotal[(dftotal.KNNsNbr>5)&(dftotal.KSurvivalRate==0.0)
        &(dftotal.PassengerId>891)&(dftotal.Sex=="male")&(dftotal.Pclass==3)])

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Ticket1,Ticket2,KNNs,KNNsNbr,KSurvivalRate
896,14.00,NaN,S,9.2250,"Svensson, Mr. Johan Cervin",0,897,3,male,0,NaN,7538,7538,0,"[40, 103, 138, 713, 876, 896]",6,0.0
901,NaN,NaN,S,7.8958,"Ilieff, Mr. Ylio",0,902,3,male,0,NaN,349220,349220,0,"[29, 101, 321, 335, 384, 410, 601, 628, 650, 6...",18,0.0
947,35.00,NaN,S,7.8958,"Cor, Mr. Bartol",0,948,3,male,0,NaN,349230,349230,0,"[49, 223, 293, 294, 335, 353, 384, 410, 628, 6...",19,0.0
951,17.00,NaN,S,7.8958,"Dika, Mr. Mirko",0,952,3,male,0,NaN,349232,349232,0,"[49, 223, 293, 294, 335, 353, 384, 628, 646, 6...",17,0.0
962,21.00,NaN,S,7.8958,"Minkoff, Mr. Lazar",0,963,3,male,0,NaN,349211,349211,0,"[29, 76, 101, 105, 287, 321, 514, 566, 601, 66...",18,0.0
1025,43.00,NaN,S,7.8958,"Dintcheff, Mr. Valtcho",0,1026,3,male,0,NaN,349226,349226,0,"[223, 294, 321, 335, 384, 410, 628, 646, 650, ...",19,0.0
1030,40.00,NaN,S,46.9000,"Goodwin, Mr. Charles Frederick",6,1031,3,male,1,NaN,CA 2144,CA,2144,"[59, 71, 386, 480, 678, 683, 1030, 1031]",8,0.0
1036,31.00,NaN,S,18.0000,"Vander Planke, Mr. Julius",0,1037,3,male,3,NaN,345763,345763,0,"[18, 38, 80, 200, 333, 441, 873, 929, 1036, 1185]",10,0.0
1058,18.00,NaN,S,34.3750,"Ford, Mr. Edward Watson",2,1059,3,male,2,NaN,W./C. 6608,W./C.,6608,"[86, 147, 235, 436, 736, 783, 888, 924, 1058, ...",10,0.0
1102,NaN,NaN,S,7.0500,"Finoli, Mr. Luigi",0,1103,3,male,0,NaN,SOTON/O.Q. 3101308,SOTON/O.Q.,3101308,"[131, 210, 363, 465, 611, 784, 1050, 1102, 117...",12,0.0
1135,NaN,NaN,S,23.4500,"Johnston, Master. William Arthur Willie""""",2,1136,3,male,1,NaN,W./C. 6607,W./C.,6607,"[86, 147, 235, 436, 736, 783, 888, 924, 1058, ...",10,0.0
1172,0.75,NaN,S,13.7750,"Peacock, Master. Alfred Edward",1,1173,3,male,1,NaN,SOTON/O.Q. 3101315,SOTON/O.Q.,3101315,"[131, 210, 363, 465, 784, 1050, 1102, 1172, 11...",11,0.0
1177,NaN,NaN,S,7.2500,"Franklin, Mr. Charles (Charles Fardon)",0,1178,3,male,0,NaN,SOTON/O.Q. 3101314,SOTON/O.Q.,3101314,"[131, 210, 363, 465, 611, 784, 1050, 1102, 117...",12,0.0
1186,26.00,NaN,S,7.8958,"Angheloff, Mr. Minko",0,1187,3,male,0,NaN,349202,349202,0,"[76, 105, 287, 514, 566, 663, 738, 753, 794, 9...",11,0.0
1216,23.00,NaN,S,7.0500,"Assam, Mr. Ali",0,1217,3,male,0,NaN,SOTON/O.Q. 3101309,SOTON/O.Q.,3101309,"[131, 210, 363, 465, 611, 784, 1050, 1102, 117...",12,0.0
1225,27.00,NaN,S,7.8958,"Cor, Mr. Ivan",0,1226,3,male,0,NaN,349229,349229,0,"[49, 223, 293, 294, 335, 353, 384, 410, 628, 6...",20,0.0
1232,32.00,NaN,S,7.5792,"Lundstrom, Mr. Thure Edvin",0,1233,3,male,0,NaN,350403,350403,0,"[14, 175, 396, 1026, 1044, 1152, 1154, 1209, 1...",9,0.0
1233,NaN,NaN,S,69.5500,"Sage, Mr. John George",9,1234,3,male,1,NaN,CA. 2343,CA.,2343,"[159, 180, 201, 324, 792, 846, 863, 1079, 1233...",11,0.0
1251,14.50,NaN,S,69.5500,"Sage, Master. William Henry",2,1252,3,male,8,NaN,CA. 2343,CA.,2343,"[159, 180, 201, 324, 792, 846, 863, 1079, 1233...",11,0.0
1254,27.00,NaN,S,8.6625,"Strilic, Mr. Ivan",0,1255,3,male,0,NaN,315083,315083,0,"[349, 422, 471, 500, 534, 844, 928, 1171, 1194...",11,0.0
1277,24.00,NaN,S,7.7750,"Aronsson, Mr. Ernst Axel Algot",0,1278,3,male,0,NaN,349911,349911,0,"[7, 24, 374, 567, 605, 675, 1250, 1277, 1280]",9,0.0
1279,21.00,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,364858,0,"[188, 428, 657, 767, 979, 1173, 1279]",7,0.0
1280,6.00,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,349909,0,"[7, 24, 374, 567, 605, 675, 1250, 1277, 1280]",9,0.0
1289,22.00,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,347065,0,"[129, 162, 231, 246, 276, 379, 406, 719, 764, ...",16,0.0

# Shorting With Passenger Id

In [82]:
women_group =women_group_dead=dftotal[(dftotal.KNNsNbr>0)&(dftotal.KSurvivalRate==0.0)
        &(dftotal.PassengerId>891)&(dftotal.Sex=="female")&(dftotal.Pclass==3)]["PassengerId"].values
women_group_dead

array([ 925,  929,  955,  971,  980, 1017, 1032, 1045, 1051, 1061, 1080,
       1089, 1092, 1155, 1172, 1174, 1176, 1196, 1237, 1251, 1257, 1274,
       1300, 1301])

In [83]:
group = train.groupby(["Sex", "Pclass"])
group["Survived","Age","Fare"].agg(["mean","std","size"])

               Survived                       Age                        Fare  \
                   mean       std size       mean        std size        mean
Sex    Pclass
female 1       0.968085  0.176716   94  34.611765  13.612052   94  106.125798
       2       0.921053  0.271448   76  28.722973  12.872702   76   21.970121
       3       0.500000  0.501745  144  21.750000  12.729964  144   16.118810
male   1       0.368852  0.484484  122  41.281386  15.139570  122   67.226127
       2       0.157407  0.365882  108  30.740707  14.793894  108   19.741782
       3       0.135447  0.342694  347  26.507589  12.159514  347   12.661633


                     std size
Sex    Pclass
female 1       74.259988   94
       2       10.891796   76
       3       11.690314  144
male   1       77.548021  122
       2       14.922235  108
       3       11.681696  347

In [84]:
from sklearn.base import BaseEstimator

class DummyPrediction(BaseEstimator):
    def fit(self,X,Y=None):
        pass
    def predict(self,X):
        Y = X["Sex"] == "female"
        return Y.astype(int)

In [85]:
def print_scores(scores):
    print(scores)
    print(scores.mean())
    print(scores.std())

clf = DummyPrediction()
train["Survived_Model"] = clf.predict(train)

In [86]:
clf = DummyPrediction()
train["Survived_Model"] = clf.predict(train)

from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet,SGDRegressor
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.metrics import mean_squared_error, precision_score,precision_recall_curve,recall_score,f1_score, roc_auc_score

In [87]:
#precision_score,precision_recall_curve,recall_score,f1_score, roc_auc_score
Y = train["Survived"]
Y_model = train["Survived_Model"]
print("recall score on training set",mean_squared_error(Y,Y_model))

recall score on training set 0.2132435465768799

In [88]:
Y = train["Survived"]
Y_model = train["Survived_Model"]
print("recall score on training set",recall_score(Y,Y_model))

recall score on training set 0.6812865497076024

In [89]:
scores=cross_validate(clf,train,train["Survived"],scoring=["f1","accuracy"],cv=20,return_train_score=False)

In [90]:
def display_cross_validate(scores):
    print("cross val scores")
    print("f1 scores", scores["test_f1"])
    print("f1 mean", scores["test_f1"].mean())
    print("f1 std", scores["test_f1"].std())
    print("accuracy scores", scores["test_accuracy"])
    print("accuracy mean", scores["test_accuracy"].mean())
    print("accuracy std", scores["test_accuracy"].std())

In [91]:
display_cross_validate(scores)

cross val scores
f1 scores [0.77272727 0.78787879 0.54545455 0.72727273 0.68571429 0.68571429
 0.73170732 0.90909091 0.75675676 0.66666667 0.69565217 0.74285714
 0.65       0.66666667 0.6        0.57142857 0.71428571 0.77419355
 0.56       0.75675676]
f1 mean 0.7000412064322199
f1 std 0.08591636169554233
accuracy scores [0.77777778 0.84444444 0.77777778 0.86666667 0.75555556 0.75555556
 0.75555556 0.91111111 0.8        0.71111111 0.84444444 0.79545455
 0.68181818 0.79545455 0.72727273 0.72727273 0.81818182 0.84090909
 0.75       0.79545455]
accuracy mean 0.7865909090909091
accuracy std 0.05525895919365663

In [92]:
scores_df =pd.DataFrame(list(scores.items()),columns=['Model','Score'])
scores_df.sort_values(['Score'])

AttributeError: 'NoneType' object has no attribute 'DataFrame'

In [93]:
print("roc_auc_score on training set",roc_auc_score(Y,Y_model))

roc_auc_score on training set 0.7668727830505226

In [94]:
test["Survived"]=clf.predict(test)

In [95]:
def process_name(df):
    df["FamilyName"] = df["Name"].map(lambda x: x.split(",")[0].strip())
    df["FullName"] = df["Name"].map(lambda x: x.split(",")[1].strip())
    df["Title"] = df["FullName"].map(lambda x: x.split(",")[0].strip())
    df["TwoLetters"] = df["FamilyName"].map(lambda x: x[-2:])
    
process_name(train)
process_name(test)

In [96]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived_Model,FamilyName,FullName,Title,TwoLetters,TicketButlast
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,Braund,Mr. Owen Harris,Mr. Owen Harris,nd,A/5 2117
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),Mrs. John Bradley (Florence Briggs Thayer),gs,PC 1759
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,Heikkinen,Miss. Laina,Miss. Laina,en,STON/O2. 310128
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),le,11380
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Allen,Mr. William Henry,Mr. William Henry,en,37345

In [97]:
train["Ticket"].value_counts()[:6]

347082      7
CA. 2343    7
1601        7
CA 2144     6
3101295     6
347088      6
Name: Ticket, dtype: int64

In [98]:
train["TicketButlast"] = train.Ticket.map(lambda x: x[:-1])
test["TicketButlast"] = test.Ticket.map(lambda x: x[:-1])

In [99]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived_Model,FamilyName,FullName,Title,TwoLetters,TicketButlast
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,Braund,Mr. Owen Harris,Mr. Owen Harris,nd,A/5 2117
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),Mrs. John Bradley (Florence Briggs Thayer),gs,PC 1759
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,Heikkinen,Miss. Laina,Miss. Laina,en,STON/O2. 310128
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),le,11380
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Allen,Mr. William Henry,Mr. William Henry,en,37345

In [100]:
train[train.TwoLetters =="ic"].sort_values("Ticket")[["PassengerId","Survived","Pclass","Name","Ticket"]]

     PassengerId  Survived  Pclass                     Name  Ticket
158          159         0       3      Smiljanic, Mr. Mile  315037
534          535         0       3      Cacic, Miss. Marija  315084
500          501         0       3         Calic, Mr. Petar  315086
349          350         0       3         Dimic, Mr. Jovan  315088
471          472         0       3          Cacic, Mr. Luka  315089
844          845         0       3      Culumovic, Mr. Jeso  315090
163          164         0       3          Calic, Mr. Jovo  315093
725          726         0       3      Oreskovic, Mr. Luka  315094
404          405         0       3  Oreskovic, Miss. Marija  315096
836          837         0       3         Pasic, Mr. Jakob  315097
821          822         1       3        Lulic, Mr. Nikola  315098
687          688         0       3        Dakic, Mr. Branko  349228
285          286         0       3      Stankovic, Mr. Ivan  349239
130          131         0       3     Drazenoic, Mr. Jozef  349241
519          520         0       3      Pavlovic, Mr. Stefo  349242
313          314         0       3   Hendekovic, Mr. Ignjac  349243
606          607         0       3        Karaic, Mr. Milan  349246
870          871         0       3        Balkic, Mr. Cerin  349248
108          109         0       3          Rekic, Mr. Tido  349249
561          562         0       3        Sivic, Mr. Husein  349251

In [101]:
train[train.TwoLetters=="ic"].sort_values("Ticket")[["PassengerId","Survived","Pclass","Name","Ticket"]][:5]

     PassengerId  Survived  Pclass                 Name  Ticket
158          159         0       3  Smiljanic, Mr. Mile  315037
534          535         0       3  Cacic, Miss. Marija  315084
500          501         0       3     Calic, Mr. Petar  315086
349          350         0       3     Dimic, Mr. Jovan  315088
471          472         0       3      Cacic, Mr. Luka  315089

In [102]:
ticket_count_train = train["Ticket"].value_counts()
ticket_count_test = test["Ticket"].value_counts()
ticket_inter = np.intersect1d(train["Ticket"].values,test["Ticket"].values)

ticketButLast_count_train = train["TicketButlast"].value_counts()
ticketButLast_count_test = test["TicketButlast"].value_counts()
ticketButLast_inter = np.intersect1d(train["TicketButlast"].values,test["TicketButlast"].values)

In [103]:
for idx in train.index:
    ticket = train.loc[idx,"Ticket"]
    train.loc[idx,"CountTicket_InTrain"]=ticket_count_train[ticket]
    if(ticket in ticket_inter):
        train.loc[idx,"CountTicket"]=(ticket_count_train[ticket]+ticket_count_test[ticket])
    else:
        train.loc[idx,"CountTicket"]=ticket_count_train[ticket]

In [104]:
for idx in test.index:
    ticket = test.loc[idx,"Ticket"]
    test.loc[idx,"CountTicket_InTest"]=ticket_count_test[ticket]
    if(ticket in ticket_inter):
        test.loc[idx,"CountTicket"]=(ticket_count_train[ticket]+ticket_count_test[ticket])
    else:
        test.loc[idx,"CountTicket"]=ticket_count_test[ticket]

In [105]:
for idx in train.index:
    ticketButLast = train.loc[idx,"TicketButlast"]
    train.loc[idx,"CountTicketButLast_InTrain"]=ticketButLast_count_train[ticketButLast]
    if(ticketButLast in ticketButLast_inter):
        train.loc[idx,"CountTicketButLast"]=(ticketButLast_count_train[ticketButLast]
                                               +ticketButLast_count_test[ticketButLast])
    else:
        train.loc[idx,"CountTicketButLast"]=ticketButLast_count_train[ticketButLast]

In [106]:
for idx in test.index:
    ticketButLast = test.loc[idx,"TicketButlast"]
    test.loc[idx,"CountTicketButLast_InTest"]=ticketButLast_count_test[ticketButLast]
    if(ticketButLast in ticketButLast_inter):
        test.loc[idx,"CountTicketButLast"]=(ticketButLast_count_train[ticketButLast]
                                               +ticketButLast_count_test[ticketButLast])
        test.loc[idx,"CountTicketButLast_InTrain"]=(ticketButLast_count_train[ticketButLast])
    else:
        test.loc[idx,"CountTicketButLast"]=ticketButLast_count_test[ticketButLast]

In [107]:
for idx in train.index:
    ticket = train.loc[idx,"Ticket"]
    if(ticket in ticket_inter):
        train.loc[idx,"FareCorrect"]=train.loc[idx,"Fare"]/(ticket_count_train[ticket]
                                                                +ticket_count_test[ticket])
    else:
        train.loc[idx,"FareCorrect"]=train.loc[idx,"Fare"]/(ticket_count_train[ticket])

In [108]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,Braund,Mr. Owen Harris,Mr. Owen Harris,nd,A/5 2117,1.0,1.0,4.0,5.0,7.25000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,Cumings,Mrs. John Bradley (Florence Briggs Thayer),Mrs. John Bradley (Florence Briggs Thayer),gs,PC 1759,1.0,2.0,8.0,14.0,35.64165
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,Heikkinen,Miss. Laina,Miss. Laina,en,STON/O2. 310128,1.0,1.0,2.0,2.0,7.92500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,Futrelle,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),le,11380,2.0,2.0,7.0,8.0,26.55000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,Allen,Mr. William Henry,Mr. William Henry,en,37345,1.0,1.0,1.0,1.0,8.05000

In [109]:
print("Example of correction for large Pclass 3 Family")
train[train.FamilyName=="Panula"][["Survived","Pclass","Name","Ticket","Fare","FareCorrect"]]

Example of correction for large Pclass 3 Family

,Survived,Pclass,Name,Ticket,Fare,FareCorrect
50,0,3,"Panula, Master. Juha Niilo",3101295,39.6875,5.669643
164,0,3,"Panula, Master. Eino Viljami",3101295,39.6875,5.669643
266,0,3,"Panula, Mr. Ernesti Arvid",3101295,39.6875,5.669643
638,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",3101295,39.6875,5.669643
686,0,3,"Panula, Mr. Jaako Arnold",3101295,39.6875,5.669643
824,0,3,"Panula, Master. Urho Abraham",3101295,39.6875,5.669643

In [110]:
dfFamilytest=test[(test["Parch"]>0)&(test["Sex"]=="female")]
familiestest=dfFamilytest["FamilyName"]

In [111]:
dfFamilyTrain=train[(train["Parch"]>0)&(train["Survived"]==0)]
dfFamily=dfFamilyTrain[(dfFamilyTrain["Sex"]=="female")|(dfFamilyTrain["Age"]<10)]
familiestrain=dfFamily["FamilyName"]

In [112]:
train[(train["PassengerId"]==159)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,...,Smiljanic,Mr. Mile,Mr. Mile,ic,31503,1.0,1.0,1.0,1.0,8.6625

In [113]:
print("Women who have family members who died in the training set.")
intersection=np.intersect1d(familiestest,familiestrain)
intersection

Women who have family members who died in the training set.

array(['Andersson', 'Goodwin', 'Johnston', 'Lefebre', 'Rosblom', 'Sage'],
      dtype=object)

In [114]:
women_died_ids=dfFamilytest[dfFamilytest["FamilyName"].isin(intersection)]["PassengerId"].index

In [115]:
col_index=test.columns.get_loc("Survived")
test.iloc[women_died_ids,col_index]=0

In [116]:
print("Mothers and Sisters who died with their families")
test.iloc[women_died_ids,:]

Mothers and Sisters who died with their families

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,...,Johnston,"Mrs. Andrew G (Elizabeth Lily"" Watson)""","Mrs. Andrew G (Elizabeth Lily"" Watson)""",on,W./C. 660,2.0,4.0,3.0,10.0,7.0
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,...,Lefebre,Mrs. Frank (Frances),Mrs. Frank (Frances),re,413,1.0,5.0,1.0,10.0,9.0
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.0,5,2,CA 2144,46.9000,NaN,...,Goodwin,Miss. Jessie Allis,Miss. Jessie Allis,in,CA 214,2.0,8.0,2.0,8.0,6.0
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,...,Sage,Miss. Ada,Miss. Ada,ge,CA. 234,4.0,11.0,4.0,11.0,7.0
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,...,Andersson,Miss. Ida Augusta Margareta,Miss. Ida Augusta Margareta,on,34709,1.0,1.0,2.0,2.0,NaN
284,1176,3,"Rosblom, Miss. Salli Helena",female,2.0,1,1,370129,20.2125,NaN,...,Rosblom,Miss. Salli Helena,Miss. Salli Helena,om,37012,1.0,3.0,1.0,3.0,2.0
365,1257,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,...,Sage,Mrs. John (Annie Bullen),Mrs. John (Annie Bullen),ge,CA. 234,4.0,11.0,4.0,11.0,7.0

In [117]:
test[(test.Title=="Master")&(test.Survived==0)]

Empty DataFrame
Columns: [PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Survived, FamilyName, FullName, Title, TwoLetters, TicketButlast, CountTicket_InTest, CountTicket, CountTicketButLast_InTest, CountTicketButLast, CountTicketButLast_InTrain]
Index: []

[0 rows x 22 columns]

In [118]:
print("Male passenger travelling with Olsen, Master. Artur Karl who survived:")
train[train.Ticket.map(lambda x: x[:-1])=="C 1736"]

Male passenger travelling with Olsen, Master. Artur Karl who survived:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,...,Madsen,Mr. Fridtjof Arne,Mr. Fridtjof Arne,en,C 1736,1.0,1.0,1.0,2.0,7.1417

In [119]:
test[test.FamilyName=="Peacock"]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.775,NaN,...,Peacock,Mrs. Benjamin (Edith Nile),Mrs. Benjamin (Edith Nile),ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0
281,1173,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.775,NaN,...,Peacock,Master. Alfred Edward,Master. Alfred Edward,ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0
409,1301,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.775,NaN,...,Peacock,Miss. Treasteall,Miss. Treasteall,ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0

In [120]:
olsen_idx=test[(test.FamilyName=="Olsen")].index
test.loc[olsen_idx,"Survived"]=1
peacock_idx=test[(test.FamilyName=="Peacock")].index
test.loc[peacock_idx,"Survived"]=0

In [121]:
print("Panula family Ticket number 3101295")
train[train.Ticket=="3101295"]

Panula family Ticket number 3101295

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,...,Panula,Master. Juha Niilo,Master. Juha Niilo,la,310129,6.0,7.0,8.0,11.0,5.669643
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,...,Panula,Master. Eino Viljami,Master. Eino Viljami,la,310129,6.0,7.0,8.0,11.0,5.669643
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,3101295,39.6875,...,Panula,Mr. Ernesti Arvid,Mr. Ernesti Arvid,la,310129,6.0,7.0,8.0,11.0,5.669643
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,...,Panula,Mrs. Juha (Maria Emilia Ojala),Mrs. Juha (Maria Emilia Ojala),la,310129,6.0,7.0,8.0,11.0,5.669643
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.0,4,1,3101295,39.6875,...,Panula,Mr. Jaako Arnold,Mr. Jaako Arnold,la,310129,6.0,7.0,8.0,11.0,5.669643
824,825,0,3,"Panula, Master. Urho Abraham",male,2.0,4,1,3101295,39.6875,...,Panula,Master. Urho Abraham,Master. Urho Abraham,la,310129,6.0,7.0,8.0,11.0,5.669643

In [122]:
print("Travelling with them in test set")
test[test.Ticket=="3101295"]

Travelling with them in test set

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
367,1259,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.0,0,0,3101295,39.6875,NaN,...,Riihivouri,"Miss. Susanna Juhantytar Sanni""""","Miss. Susanna Juhantytar Sanni""""",ri,310129,1.0,7.0,3.0,11.0,8.0

In [123]:
print("Most occuring ticket in train set, a group of Chinese. Most of them survived.")
train[train.Ticket=="1601"]

Most occuring ticket in train set, a group of Chinese. Most of them survived.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
74,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,...,Bing,Mr. Lee,Mr. Lee,ng,160,7.0,8.0,7.0,8.0,7.061975
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,...,Ling,Mr. Lee,Mr. Lee,ng,160,7.0,8.0,7.0,8.0,7.061975
509,510,1,3,"Lang, Mr. Fang",male,26.0,0,0,1601,56.4958,...,Lang,Mr. Fang,Mr. Fang,ng,160,7.0,8.0,7.0,8.0,7.061975
643,644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,...,Foo,Mr. Choong,Mr. Choong,oo,160,7.0,8.0,7.0,8.0,7.061975
692,693,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,...,Lam,Mr. Ali,Mr. Ali,am,160,7.0,8.0,7.0,8.0,7.061975
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,...,Lam,Mr. Len,Mr. Len,am,160,7.0,8.0,7.0,8.0,7.061975
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,...,Chip,Mr. Chang,Mr. Chang,ip,160,7.0,8.0,7.0,8.0,7.061975

In [124]:
print("accompanying them in test set : ")
test[test.Ticket=="1601"]

accompanying them in test set :

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,...,Hee,Mr. Ling,Mr. Ling,ee,160,1.0,8.0,1.0,8.0,7.0

In [125]:
most_occ_ticks=train["Ticket"].value_counts()[:19]

In [126]:
df=test[test["Ticket"].isin(most_occ_ticks.index)].sort_values("Ticket")
df_women=df[df["Sex"]=="female"]

In [127]:
train.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [182]:
demo = pd.concat([train,test], axis=0)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [184]:
demo.head()

,Age,Cabin,CountTicket,CountTicketButLast,CountTicketButLast_InTest,CountTicketButLast_InTrain,CountTicket_InTest,CountTicket_InTrain,Embarked,FamilyName,...,PassengerId,Pclass,Sex,SibSp,Survived,Survived_Model,Ticket,TicketButlast,Title,TwoLetters
0,22.0,NaN,1.0,5.0,NaN,4.0,NaN,1.0,S,Braund,...,1,3,male,1,0,0.0,A/5 21171,A/5 2117,Mr. Owen Harris,nd
1,38.0,C85,2.0,14.0,NaN,8.0,NaN,1.0,C,Cumings,...,2,1,female,1,1,1.0,PC 17599,PC 1759,Mrs. John Bradley (Florence Briggs Thayer),gs
2,26.0,NaN,1.0,2.0,NaN,2.0,NaN,1.0,S,Heikkinen,...,3,3,female,0,1,1.0,STON/O2. 3101282,STON/O2. 310128,Miss. Laina,en
3,35.0,C123,2.0,8.0,NaN,7.0,NaN,2.0,S,Futrelle,...,4,1,female,1,1,1.0,113803,11380,Mrs. Jacques Heath (Lily May Peel),le
4,35.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,S,Allen,...,5,3,male,0,0,0.0,373450,37345,Mr. William Henry,en

In [183]:
for dataset in demo:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_df['Title'], train_df['Sex'])

AttributeError: 'str' object has no attribute 'Name'

In [ ]:
demo.Sex.value_counts()

In [ ]:
print("Women who died with their groups. We already spotted some mothers above.")
for idx in df_women.index:
    ticket = df_women.loc[idx,"Ticket"]
    nbr_survivors = train[train["Ticket"]==ticket]["Survived"].sum()
    if(nbr_survivors==0):
        print(df_women.loc[idx,"Name"])
        test.loc[idx,"Survived"]=0

In [ ]:
df_men=df[(df["Sex"]=="male")&(df["SibSp"]==0)&(df["Parch"]==0)]
df_men

In [ ]:
print("Man who survived with the majority of his group:")
for idx in df_men.index:
    ticket = df_men.loc[idx,"Ticket"]
    mean_survivors = train[train["Ticket"]==ticket]["Survived"].mean()
    if(mean_survivors>0.5):
        print(df_men.loc[idx,"Name"])
        test.loc[idx,"Survived"]=1

In [ ]:
test[(test.CountTicketButLast>10)&(test.Pclass==3)&(test.SibSp==0)&(test.Parch==0)&(test.Sex=="female")&
      (test.Title=="Miss")]

In [ ]:
print("Passengers of train set who travelled with Nieminen, Miss. Manta Josefina")
train[train.TicketButlast=="310129"]

In [ ]:
print("Passengers of train set who travelled with Nieminen, Miss. Jenny Lovisa")
train[train.TicketButlast=="34708"]

In [129]:
idx=test[(test.CountTicketButLast>10)&(test.Pclass==3)&(test.SibSp==0)&(test.Parch==0)&(test.Sex=="female")&
      (test.Title=="Miss")].index
test.loc[idx,"Survived"]=0

In [130]:
print("People called ---ic died :")
train[train.TwoLetters=="ic"] ## FF

People called ---ic died :

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTrain,CountTicket,CountTicketButLast_InTrain,CountTicketButLast,FareCorrect
108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,...,Rekic,Mr. Tido,Mr. Tido,ic,34924,1.0,1.0,10.0,10.0,7.8958
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,...,Drazenoic,Mr. Jozef,Mr. Jozef,ic,34924,1.0,1.0,10.0,10.0,7.8958
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,...,Smiljanic,Mr. Mile,Mr. Mile,ic,31503,1.0,1.0,1.0,1.0,8.6625
163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,...,Calic,Mr. Jovo,Mr. Jovo,ic,31509,1.0,1.0,6.0,9.0,8.6625
285,286,0,3,"Stankovic, Mr. Ivan",male,33.0,0,0,349239,8.6625,...,Stankovic,Mr. Ivan,Mr. Ivan,ic,34923,1.0,1.0,7.0,11.0,8.6625
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,...,Hendekovic,Mr. Ignjac,Mr. Ignjac,ic,34924,1.0,1.0,10.0,10.0,7.8958
349,350,0,3,"Dimic, Mr. Jovan",male,42.0,0,0,315088,8.6625,...,Dimic,Mr. Jovan,Mr. Jovan,ic,31508,1.0,1.0,5.0,8.0,8.6625
404,405,0,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,...,Oreskovic,Miss. Marija,Miss. Marija,ic,31509,1.0,1.0,6.0,9.0,8.6625
471,472,0,3,"Cacic, Mr. Luka",male,38.0,0,0,315089,8.6625,...,Cacic,Mr. Luka,Mr. Luka,ic,31508,1.0,1.0,5.0,8.0,8.6625
500,501,0,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.6625,...,Calic,Mr. Petar,Mr. Petar,ic,31508,1.0,1.0,5.0,8.0,8.6625
519,520,0,3,"Pavlovic, Mr. Stefo",male,32.0,0,0,349242,7.8958,...,Pavlovic,Mr. Stefo,Mr. Stefo,ic,34924,1.0,1.0,10.0,10.0,7.8958
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,...,Cacic,Miss. Marija,Miss. Marija,ic,31508,1.0,1.0,5.0,8.0,8.6625
561,562,0,3,"Sivic, Mr. Husein",male,40.0,0,0,349251,7.8958,...,Sivic,Mr. Husein,Mr. Husein,ic,34925,1.0,1.0,6.0,9.0,7.8958
606,607,0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,...,Karaic,Mr. Milan,Mr. Milan,ic,34924,1.0,1.0,10.0,10.0,7.8958
687,688,0,3,"Dakic, Mr. Branko",male,19.0,0,0,349228,10.1708,...,Dakic,Mr. Branko,Mr. Branko,ic,34922,1.0,1.0,7.0,10.0,10.1708
725,726,0,3,"Oreskovic, Mr. Luka",male,20.0,0,0,315094,8.6625,...,Oreskovic,Mr. Luka,Mr. Luka,ic,31509,1.0,1.0,6.0,9.0,8.6625
821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,...,Lulic,Mr. Nikola,Mr. Nikola,ic,31509,1.0,1.0,6.0,9.0,8.6625
836,837,0,3,"Pasic, Mr. Jakob",male,21.0,0,0,315097,8.6625,...,Pasic,Mr. Jakob,Mr. Jakob,ic,31509,1.0,1.0,6.0,9.0,8.6625
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,...,Culumovic,Mr. Jeso,Mr. Jeso,ic,31509,1.0,1.0,6.0,9.0,8.6625
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,...,Balkic,Mr. Cerin,Mr. Cerin,ic,34924,1.0,1.0,10.0,10.0,7.8958

In [131]:
test[(test.TwoLetters.isin(["ic","ff"]))&(test.Sex=="female")]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
37,929,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,NaN,...,Cacic,Miss. Manda,Miss. Manda,ic,31508,1.0,1.0,3.0,8.0,5.0
280,1172,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,NaN,...,Oreskovic,Miss. Jelka,Miss. Jelka,ic,31508,1.0,1.0,3.0,8.0,5.0

In [132]:
idx=test[(test.TwoLetters.isin(["ic","ff"]))&(test.Sex=="female")].index
test.loc[idx,"Survived"]=0

In [133]:
idx

Int64Index([37, 280], dtype='int64')

In [134]:
test[test["PassengerId"]==1297]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,...,Nourney,"Mr. Alfred (Baron von Drachstedt"")""","Mr. Alfred (Baron von Drachstedt"")""",ey,SC/PARIS 216,1.0,1.0,3.0,4.0,1.0

# ALGORITHMIC CLASSIFICATION for SINGLE WOMEN

In [135]:
single_women = train[(train["Sex"]=="female")&(train["SibSp"]==0)&(train["Parch"]==0)]
single_women["Age"]=single_women["Age"].fillna(single_women["Age"].median())
features=["Age","Pclass","Fare"]
x_single_women = single_women[features]
y_single_women = single_women["Survived"]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [136]:
xg = GradientBoostingClassifier()
kfold = StratifiedKFold(10)

In [137]:
param_grid={
    'n_estimators':[100,200,300],
    'min_samples_split':[2,3,4],
    'max_depth' : np.arange(3,7,1)
}

In [138]:
grid = GridSearchCV(xg,param_grid=param_grid,cv=kfold,scoring="accuracy")
grid.fit(x_single_women,y_single_women)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
       error_score='raise-deprecating',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_sampl...      subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [100, 200, 300], 'min_samples_split': [2, 3, 4], 'max_depth': array([3, 4, 5, 6])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [139]:
grid.best_params_

{'max_depth': 4, 'min_samples_split': 3, 'n_estimators': 200}

In [140]:
test_df=test[(test["Sex"]=="female")&(test["SibSp"]==0)&(test["Parch"]==0)]
test_df["Age"]=test_df["Age"].fillna(test_df["Age"].median())
test_df["Fare"]=test_df["Fare"].fillna(test_df["Fare"].median())

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [141]:
Y_scores_pclass3 = grid.best_estimator_.predict_proba(test_df[features])[:,1]
test_df["Y_scores"]=Y_scores_pclass3

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [142]:
print("Five worst scores of xgboost :")
test_df.sort_values("Y_scores",ascending=True)[:5]

Five worst scores of xgboost :

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain,Y_scores
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,...,Miss. Kate,Miss. Kate,ly,33097,1.0,1.0,2.0,3.0,1.0,0.000012
313,1205,3,"Carr, Miss. Jeannie",female,37.0,0,0,368364,7.7500,NaN,...,Miss. Jeannie,Miss. Jeannie,rr,36836,1.0,1.0,1.0,1.0,NaN,0.000075
291,1183,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.0,0,0,382650,6.9500,NaN,...,"Miss. Margaret Marcella Maggie""""","Miss. Margaret Marcella Maggie""""",ly,38265,1.0,1.0,3.0,9.0,6.0,0.000336
138,1030,3,"Drapkin, Miss. Jennie",female,23.0,0,0,SOTON/OQ 392083,8.0500,NaN,...,Miss. Jennie,Miss. Jennie,in,SOTON/OQ 39208,1.0,1.0,1.0,4.0,3.0,0.000925
280,1172,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,NaN,...,Miss. Jelka,Miss. Jelka,ic,31508,1.0,1.0,3.0,8.0,5.0,0.001014

# ISOLATED WOMEN

In [143]:
single_poor_wmn=test[(test.CountTicketButLast<=2)&(test.Sex=="female")
                       &(test.Pclass==3)&(test.SibSp==0)&(test.Parch==0)].index
test.loc[single_poor_wmn,"Survived"]=0

In [144]:
print("Single poor isolated women with no family")
test.loc[single_poor_wmn,:]

Single poor isolated women with no family

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,...,Roth,Miss. Sarah A,Miss. Sarah A,th,34271,1.0,1.0,1.0,1.0,NaN
66,958,3,"Burns, Miss. Mary Delia",female,18.0,0,0,330963,7.8792,NaN,...,Burns,Miss. Mary Delia,Miss. Mary Delia,ns,33096,1.0,1.0,2.0,2.0,NaN
79,971,3,"Doyle, Miss. Elizabeth",female,24.0,0,0,368702,7.7500,NaN,...,Doyle,Miss. Elizabeth,Miss. Elizabeth,le,36870,1.0,1.0,1.0,2.0,1.0
86,978,3,"Barry, Miss. Julia",female,27.0,0,0,330844,7.8792,NaN,...,Barry,Miss. Julia,Miss. Julia,ry,33084,1.0,1.0,1.0,1.0,NaN
87,979,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.0500,NaN,...,Badman,Miss. Emily Louisa,Miss. Emily Louisa,an,A/4 3141,1.0,1.0,1.0,1.0,NaN
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,...,Braf,Miss. Elin Ester Maria,Miss. Elin Ester Maria,af,34747,1.0,1.0,1.0,2.0,1.0
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,...,Shine,Miss. Ellen Natalia,Miss. Ellen Natalia,ne,33096,1.0,1.0,2.0,2.0,NaN
113,1005,3,"Buckley, Miss. Katherine",female,18.5,0,0,329944,7.2833,NaN,...,Buckley,Miss. Katherine,Miss. Katherine,ey,32994,1.0,1.0,1.0,1.0,NaN
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,...,Smyth,Miss. Julia,Miss. Julia,th,33543,1.0,1.0,1.0,1.0,NaN
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,...,Murphy,Miss. Nora,Miss. Nora,hy,3656,1.0,2.0,1.0,2.0,1.0
206,1098,3,"McGowan, Miss. Katherine",female,35.0,0,0,9232,7.7500,NaN,...,McGowan,Miss. Katherine,Miss. Katherine,an,923,1.0,1.0,1.0,2.0,1.0
268,1160,3,"Howard, Miss. May Elizabeth",female,NaN,0,0,A. 2. 39186,8.0500,NaN,...,Howard,Miss. May Elizabeth,Miss. May Elizabeth,rd,A. 2. 3918,1.0,1.0,1.0,1.0,NaN
304,1196,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,...,McCarthy,"Miss. Catherine Katie""""","Miss. Catherine Katie""""",hy,38312,1.0,1.0,1.0,2.0,1.0
313,1205,3,"Carr, Miss. Jeannie",female,37.0,0,0,368364,7.7500,NaN,...,Carr,Miss. Jeannie,Miss. Jeannie,rr,36836,1.0,1.0,1.0,1.0,NaN
315,1207,3,"Hagardon, Miss. Kate",female,17.0,0,0,AQ/3. 30631,7.7333,NaN,...,Hagardon,Miss. Kate,Miss. Kate,on,AQ/3. 3063,1.0,1.0,1.0,1.0,NaN
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,...,Naughton,Miss. Hannah,Miss. Hannah,on,36523,1.0,1.0,2.0,2.0,NaN

In [145]:
idx=test[test.PassengerId.isin(women_group_dead)].index
test.loc[idx,"Survived"]=0

In [146]:
print("Men who are predicted to survive")
test[(test["Survived"]==1)& (test["Sex"]=="male")]

Men who are predicted to survive

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,...,Olsen,Master. Artur Karl,Master. Artur Karl,en,C 1736,1.0,1.0,1.0,2.0,1.0

In [147]:
print("WOMEN who are predicted to survive")
test[(test["Survived"]==0)& (test["Sex"]=="female")]

WOMEN who are predicted to survive

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,...,Johnston,"Mrs. Andrew G (Elizabeth Lily"" Watson)""","Mrs. Andrew G (Elizabeth Lily"" Watson)""",on,W./C. 660,2.0,4.0,3.0,10.0,7.0
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,...,Roth,Miss. Sarah A,Miss. Sarah A,th,34271,1.0,1.0,1.0,1.0,NaN
37,929,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,NaN,...,Cacic,Miss. Manda,Miss. Manda,ic,31508,1.0,1.0,3.0,8.0,5.0
63,955,3,"Bradley, Miss. Bridget Delia",female,22.0,0,0,334914,7.7250,NaN,...,Bradley,Miss. Bridget Delia,Miss. Bridget Delia,ey,33491,1.0,1.0,2.0,3.0,1.0
66,958,3,"Burns, Miss. Mary Delia",female,18.0,0,0,330963,7.8792,NaN,...,Burns,Miss. Mary Delia,Miss. Mary Delia,ns,33096,1.0,1.0,2.0,2.0,NaN
79,971,3,"Doyle, Miss. Elizabeth",female,24.0,0,0,368702,7.7500,NaN,...,Doyle,Miss. Elizabeth,Miss. Elizabeth,le,36870,1.0,1.0,1.0,2.0,1.0
86,978,3,"Barry, Miss. Julia",female,27.0,0,0,330844,7.8792,NaN,...,Barry,Miss. Julia,Miss. Julia,ry,33084,1.0,1.0,1.0,1.0,NaN
87,979,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.0500,NaN,...,Badman,Miss. Emily Louisa,Miss. Emily Louisa,an,A/4 3141,1.0,1.0,1.0,1.0,NaN
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,...,O'Donoghue,Ms. Bridget,Ms. Bridget,ue,36485,1.0,1.0,3.0,5.0,2.0
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,...,Braf,Miss. Elin Ester Maria,Miss. Elin Ester Maria,af,34747,1.0,1.0,1.0,2.0,1.0
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,...,Shine,Miss. Ellen Natalia,Miss. Ellen Natalia,ne,33096,1.0,1.0,2.0,2.0,NaN
113,1005,3,"Buckley, Miss. Katherine",female,18.5,0,0,329944,7.2833,NaN,...,Buckley,Miss. Katherine,Miss. Katherine,ey,32994,1.0,1.0,1.0,1.0,NaN
125,1017,3,"Cribb, Miss. Laura Alice",female,17.0,0,1,371362,16.1000,NaN,...,Cribb,Miss. Laura Alice,Miss. Laura Alice,bb,37136,1.0,2.0,1.0,2.0,1.0
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,...,Lefebre,Mrs. Frank (Frances),Mrs. Frank (Frances),re,413,1.0,5.0,1.0,10.0,9.0
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.0,5,2,CA 2144,46.9000,NaN,...,Goodwin,Miss. Jessie Allis,Miss. Jessie Allis,in,CA 214,2.0,8.0,2.0,8.0,6.0
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.0,0,2,350405,12.1833,NaN,...,Klasen,Mrs. (Hulda Kristina Eugenia Lofqvist),Mrs. (Hulda Kristina Eugenia Lofqvist),en,35040,2.0,2.0,5.0,8.0,3.0
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.0,0,2,SOTON/O.Q. 3101315,13.7750,NaN,...,Peacock,Mrs. Benjamin (Edith Nile),Mrs. Benjamin (Edith Nile),ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,...,Smyth,Miss. Julia,Miss. Julia,th,33543,1.0,1.0,1.0,1.0,NaN
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.0,0,0,7548,8.9625,NaN,...,Hellstrom,Miss. Hilda Maria,Miss. Hilda Maria,om,754,1.0,1.0,1.0,4.0,3.0
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,...,Sage,Miss. Ada,Miss. Ada,ge,CA. 234,4.0,11.0,4.0,11.0,7.0
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.0,0,0,347066,7.7750,NaN,...,Nilsson,Miss. Berta Olivia,Miss. Berta Olivia,on,34706,1.0,1.0,2.0,10.0,8.0
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,...,Murphy,Miss. Nora,Miss. Nora,hy,3656,1.0,2.0,1.0,2.0,1.0
206,1098,3,"McGowan, Miss. Katherine",female,35.0,0,0,9232,7.7500,NaN,...,McGowan,Miss. Katherine,Miss. Katherine,an,923,1.0,1.0,1.0,2.0,1.0
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,...,Andersson,Miss. Ida Augusta Margareta,Miss. Ida Augusta Margareta,on,34709,1.0,1.0,2.0,2.0,NaN
263,1155,3,"Klasen, Miss. Gertrud Emilia",female,1.0,1,1,350405,12.1833,NaN,...,Klasen,Miss. Gertrud Emilia,Miss. Gertrud Emilia,en,35040,2.0,2.0,5.0,8.0,3.0
268,1160,3,"Howard, Miss. May Elizabeth",female,NaN,0,0,A. 2. 39186,8.0500,NaN,...,Howard,Miss. May Elizabeth,Miss. May Elizabeth,rd,A. 2. 3918,1.0,1.0,1.0,1.0,NaN
280,1172,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,NaN,...,Oreskovic,Miss. Jelka,Miss. Jelka,ic,31508,1.0,1.0,3.0,8.0,5.0
282,1174,3,"Fleming, Miss. Honora",female,NaN,0,0,364859,7.7500,NaN,...,Fleming,Miss. Honora,Miss. Honora,ng,36485,1.0,1.0,3.0,5.0,2.0
284,1176,3,"Rosblom, Miss. Salli Helena",female,2.0,1,1,370129,20.2125,NaN,...,Rosblom,Miss. Salli Helena,Miss. Salli Helena,om,37012,1.0,3.0,1.0,3.0,2.0
304,1196,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,...,McCarthy,"Miss. Catherine Katie""""","Miss. Catherine Katie""""",hy,38312,1.0,1.0,1.0,2.0,1.0
313,1205,3,"Carr, Miss. Jeannie",female,37.0,0,0,368364,7.7500,NaN,...,Carr,Miss. Jeannie,Miss. Jeannie,rr,36836,1.0,1.0,1.0,1.0,NaN
315,1207,3,"Hagardon, Miss. Kate",female,17.0,0,0,AQ/3. 30631,7.7333,NaN,...,Hagardon,Miss. Kate,Miss. Kate,on,AQ/3. 3063,1.0,1.0,1.0,1.0,NaN
345,1237,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.6500,NaN,...,Abelseth,Miss. Karen Marie,Miss. Karen Marie,th,34812,1.0,1.0,2.0,5.0,3.0
359,1251,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1,0,349910,15.5500,NaN,...,Lindell,Mrs. Edvard Bengtsson (Elin Gerda Persson),Mrs. Edvard Bengtsson (Elin Gerda Persson),ll,34991,1.0,2.0,2.0,4.0,2.0
365,1257,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,...,Sage,Mrs. John (Annie Bullen),Mrs. John (Annie Bullen),ge,CA. 234,4.0,11.0,4.0,11.0,7.0
382,1274,3,"Risien, Mrs. Samuel (Emma)",female,NaN,0,0,364498,14.5000,NaN,...,Risien,Mrs. Samuel (Emma),Mrs. Samuel (Emma),en,36449,1.0,2.0,1.0,3.0,2.0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,...,Riordan,"Miss. Johanna Hannah""""","Miss. Johanna Hannah""""",an,33491,1.0,1.0,2.0,3.0,1.0
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,...,Peacock,Miss. Treasteall,Miss. Treasteall,ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,...,Naughton,Miss. Hannah,Miss. Hannah,on,36523,1.0,1.0,2.0,2.0,NaN

# CSV OUTPUT

In [175]:
test_sorted=test.sort_values("PassengerId")
test_sorted=test_sorted[["PassengerId","Survived"]]

In [176]:
test_sorted.to_csv("pitanic.csv",index=False)
print('print csv')

print csv

In [180]:
lol = pd.read_csv("pitanic.csv")
lol1 = lol.set_index("PassengerId")
lol1

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
897                 0
898                 1
899                 0
900                 1
901                 0
902                 0
903                 0
904                 1
905                 0
906                 1
907                 1
908                 0
909                 0
910                 1
911                 1
912                 0
913                 1
914                 1
915                 0
916                 1
917                 0
918                 1
919                 0
920                 0
921                 0
...               ...
1280                0
1281                0
1282                0
1283                1
1284                0
1285                0
1286                0
1287                1
1288                0
1289                1
1290                0
1291                0
1292                1
1293                0
1294                1
1295                0
1296                0
1297                0
1298                0
1299                0
1300                0
1301                0
1302                0
1303                1
1304                1
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [181]:
lol.to_csv("pitani1c.csv",index=False)
print('print csv')

print csv

In [157]:
import pandas as pd
data = pd.read_csv("input/Titanic.csv")
data.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived', 'FamilyName',
       'FullName', 'Title', 'TwoLetters', 'TicketButlast',
       'CountTicket_InTest', 'CountTicket', 'CountTicketButLast_InTest',
       'CountTicketButLast', 'CountTicketButLast_InTrain'],
      dtype='object')

In [158]:
#df.drop(columns=['B', 'C'])
df.drop(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilyName',
       'FullName', 'Title', 'TwoLetters', 'TicketButlast',
       'CountTicket_InTest', 'CountTicket', 'CountTicketButLast_InTest',
       'CountTicketButLast', 'CountTicketButLast_InTrain'], axis=1)

     PassengerId  Survived
306         1198         0
141         1033         1
39           931         0
53           945         1
69           961         1
367         1259         1
379         1271         0
154         1046         0
174         1066         0
389         1281         0
55           947         0
132         1024         0
139         1031         0
140         1032         0
188         1080         0
342         1234         0
360         1252         0
365         1257         0
202         1094         0
212         1104         0
352         1244         0
167         1059         0

In [159]:
data1 = pd.read_csv("finally.csv")

In [165]:
data1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilyName,FullName,Title,TwoLetters,TicketButlast,CountTicket_InTest,CountTicket,CountTicketButLast_InTest,CountTicketButLast,CountTicketButLast_InTrain
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,...,Kelly,Mr. James,Mr. James,ly,33091,1.0,1.0,2.0,3.0,1.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,...,Wilkes,Mrs. James (Ellen Needs),Mrs. James (Ellen Needs),es,36327,1.0,1.0,1.0,1.0,NaN
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,...,Myles,Mr. Thomas Francis,Mr. Thomas Francis,es,24027,1.0,1.0,1.0,1.0,NaN
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,...,Wirz,Mr. Albert,Mr. Albert,rz,31515,1.0,1.0,4.0,6.0,2.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,...,Hirvonen,Mrs. Alexander (Helga E Lindqvist),Mrs. Alexander (Helga E Lindqvist),en,310129,1.0,2.0,3.0,11.0,8.0
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,...,Svensson,Mr. Johan Cervin,Mr. Johan Cervin,on,753,1.0,1.0,1.0,3.0,2.0
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,...,Connolly,Miss. Kate,Miss. Kate,ly,33097,1.0,1.0,2.0,3.0,1.0
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,...,Caldwell,Mr. Albert Francis,Mr. Albert Francis,ll,24873,1.0,3.0,2.0,6.0,4.0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,...,Abrahim,Mrs. Joseph (Sophie Halaut Easu),Mrs. Joseph (Sophie Halaut Easu),im,265,1.0,1.0,9.0,16.0,7.0
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,...,Davies,Mr. John Samuel,Mr. John Samuel,es,A/4 4887,1.0,3.0,2.0,4.0,2.0
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,...,Ilieff,Mr. Ylio,Mr. Ylio,ff,34922,1.0,1.0,3.0,10.0,7.0
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,...,Jones,Mr. Charles Cresson,Mr. Charles Cresson,es,69,1.0,1.0,1.0,3.0,2.0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,...,Snyder,Mrs. John Pillsbury (Nelle Stevenson),Mrs. John Pillsbury (Nelle Stevenson),er,2122,2.0,2.0,2.0,2.0,NaN
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,...,Howard,Mr. Benjamin,Mr. Benjamin,rd,2406,2.0,2.0,2.0,2.0,NaN
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,...,Chaffee,Mrs. Herbert Fuller (Carrie Constance Toogood),Mrs. Herbert Fuller (Carrie Constance Toogood),ee,W.E.P. 573,1.0,2.0,1.0,2.0,1.0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,...,del Carlo,Mrs. Sebastiano (Argenia Genovesi),Mrs. Sebastiano (Argenia Genovesi),lo,SC/PARIS 216,1.0,2.0,3.0,4.0,1.0
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,...,Keane,Mr. Daniel,Mr. Daniel,ne,23373,1.0,1.0,1.0,1.0,NaN
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,...,Assaf,Mr. Gerios,Mr. Gerios,af,269,1.0,1.0,3.0,12.0,9.0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,...,Ilmakangas,Miss. Ida Livija,Miss. Ida Livija,as,STON/O2. 310127,1.0,1.0,1.0,4.0,3.0
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,...,Assaf Khalil,"Mrs. Mariana (Miriam"")""","Mrs. Mariana (Miriam"")""",il,269,1.0,1.0,3.0,12.0,9.0
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,...,Rothschild,Mr. Martin,Mr. Martin,ld,PC 1760,1.0,2.0,8.0,17.0,9.0
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,...,Olsen,Master. Artur Karl,Master. Artur Karl,en,C 1736,1.0,1.0,1.0,2.0,1.0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,...,Flegenheim,Mrs. Alfred (Antoinette),Mrs. Alfred (Antoinette),im,PC 1759,1.0,1.0,6.0,14.0,8.0
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,...,Williams,Mr. Richard Norris II,Mr. Richard Norris II,ms,PC 1759,1.0,2.0,6.0,14.0,8.0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,...,Ryerson,Mrs. Arthur Larned (Emily Maria Borie),Mrs. Arthur Larned (Emily Maria Borie),on,PC 1760,5.0,7.0,8.0,17.0,9.0
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,...,Robins,Mr. Alexander A,Mr. Alexander A,ns,A/5. 333,1.0,2.0,1.0,4.0,3.0
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,...,Ostby,Miss. Helene Ragnhild,Miss. Helene Ragnhild,by,11350,1.0,2.0,5.0,10.0,5.0
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,...,Daher,Mr. Shedid,Mr. Shedid,er,269,1.0,1.0,3.0,12.0,9.0
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,...,Brady,Mr. John Bertram,Mr. John Bertram,dy,11305,1.0,1.0,2.0,7.0,5.0
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,...,Samaan,Mr. Elias,Mr. Elias,an,266,2.0,3.0,6.0,21.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,...,Canavan,Mr. Patrick,Mr. Patrick,an,36485,1.0,1.0,3.0,5.0,2.0
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,...,Palsson,Master. Paul Folke,Master. Paul Folke,on,34990,1.0,5.0,1.0,5.0,4.0
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,...,Payne,Mr. Vivian Ponsonby,Mr. Vivian Ponsonby,ne,1274,2.0,4.0,2.0,4.0,2.0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,...,Lines,Mrs. Ernest H (Elizabeth Lindsey James),Mrs. Ernest H (Elizabeth Lindsey James),es,PC 1759,1.0,2.0,6.0,14.0,8.0
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,...,Abbott,Master. Eugene Joseph,Master. Eugene Joseph,tt,C.A. 267,1.0,3.0,1.0,3.0,2.0
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,...,Gilbert,Mr. William,Mr. William,rt,C.A. 3076,1.0,1.0,1.0,1.0,NaN
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,...,Kink-Heilmann,Mr. Anton,Mr. Anton,nn,31515,2.0,3.0,4.0,6.0,2.0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,...,Smith,Mrs. Lucien Philip (Mary Eloise Hughes),Mrs. Lucien Philip (Mary Eloise Hughes),th,1369,2.0,2.0,2.0,2.0,NaN
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,...,Colbert,Mr. Patrick,Mr. Patrick,rt,37110,1.0,1.0,1.0,1.0,NaN
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,...,Frolicher-Stehli,Mrs. Maxmillian (Margaretha Emerentia Stehli),Mrs. Maxmillian (Margaretha Emerentia Stehli),li,1356,1.0,2.0,1.0,3.0,2.0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,...,Larsson-Rondberg,Mr. Edvard A,Mr. Edvard A,rg,34706,1.0,1.0,2.0,10.0,8.0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,...,Conlon,Mr. Thomas Henry,Mr. Thomas Henry,on,2133,1.0,1.0,1.0,1.0,NaN
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,...,Bonnell,Miss. Caroline,Miss. Caroline,ll,3692,2.0,4.0,2.0,4.0,2.0
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,...,Gale,Mr. Harry,Mr. Harry,le,2866,1.0,2.0,2.0,4.0,2.0
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,...,Gibson,Miss. Dorothy Winifred,Miss. Dorothy Winifred,on,11237,2.0,2.0,3.0,4.0,1.0
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,...,Carrau,Mr. Jose Pedro,Mr. Jose Pedro,au,11305,1.0,2.0,2.0,7.0,5.0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,...,Frauenthal,Mr. Isaac Gerald,Mr. Isaac Gerald,al,1776,1.0,1.0,1.0,2.0,1.0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,...,Nourney,"Mr. Alfred (Baron von Drachstedt"")""","Mr. Alfred (Baron von Drachstedt"")""",ey,SC/PARIS 216,1.0,1.0,3.0,4.0,1.0
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,...,Ware,Mr. William Jeffery,Mr. William Jeffery,re,2866,1.0,1.0,2.0,4.0,2.0
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,...,Widener,Mr. George Dunton,Mr. George Dunton,er,11350,4.0,5.0,5.0,10.0,5.0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,...,Riordan,"Miss. Johanna Hannah""""","Miss. Johanna Hannah""""",an,33491,1.0,1.0,2.0,3.0,1.0
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,...,Peacock,Miss. Treasteall,Miss. Treasteall,ck,SOTON/O.Q. 310131,3.0,3.0,4.0,7.0,3.0
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,...,Naughton,Miss. Hannah,Miss. Hannah,on,36523,1.0,1.0,2.0,2.0,NaN
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,...,Minahan,Mrs. William Edward (Lillian E Thorpe),Mrs. William Edward (Lillian E Thorpe),an,1992,1.0,3.0,2.0,4.0,2.0
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,...,Henriksson,Miss. Jenny Lovisa,Miss. Jenny Lovisa,on,34708,1.0,1.0,2.0,22.0,20.0
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,...,Spector,Mr. Woolf,Mr. Woolf,or,A.5. 323,1.0,1.0,1.0,1.0,NaN
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,...,Oliva y Ocana,Dona. Fermina,Dona. Fermina,na,PC 1775,1.0,3.0,6.0,18.0,12.0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,...,Saether,Mr. Simon Sivertsen,Mr. Simon Sivertsen,er,SOTON/O.Q. 310126,1.0,1.0,2.0,2.0,NaN
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,...,Ware,Mr. Frederick,Mr. Frederick,re,35930,1.0,1.0,2.0,2.0,NaN
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,...,Peter,Master. Michael J,Master. Michael J,er,266,1.0,3.0,6.0,21.0,15.0

In [166]:
data1.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived', 'FamilyName',
       'FullName', 'Title', 'TwoLetters', 'TicketButlast',
       'CountTicket_InTest', 'CountTicket', 'CountTicketButLast_InTest',
       'CountTicketButLast', 'CountTicketButLast_InTrain'],
      dtype='object')

In [168]:
data2 = data1.drop(columns = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilyName',
       'FullName', 'Title', 'TwoLetters', 'TicketButlast',
       'CountTicket_InTest', 'CountTicket', 'CountTicketButLast_InTest',
       'CountTicketButLast', 'CountTicketButLast_InTrain'], )

In [169]:
data3 = data2.set_index("PassengerId")

In [170]:
data3

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
897                 0
898                 1
899                 0
900                 1
901                 0
902                 0
903                 0
904                 1
905                 0
906                 1
907                 1
908                 0
909                 0
910                 1
911                 1
912                 0
913                 1
914                 1
915                 0
916                 1
917                 0
918                 1
919                 0
920                 0
921                 0
...               ...
1280                0
1281                0
1282                0
1283                1
1284                0
1285                0
1286                0
1287                1
1288                0
1289                1
1290                0
1291                0
1292                1
1293                0
1294                1
1295                0
1296                0
1297                0
1298                0
1299                0
1300                0
1301                0
1302                0
1303                1
1304                1
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [ ]:
data3.to_csv('final.csv')

In [ ]:
test.Survived